@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Ubuntu:wght@400;500&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: black;
}
#heading{
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: "Poppins" , sans-serif;
    transition: all .5s ease;
}
#heading:hover{
    color: lightcoral;
    font-size: 50px;
}

#main{
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    justify-content: center;
    height: 60vh;
    background: rgb(228, 223, 223);
}
#main label{
    font-size: 600;
    font-family: "Poppins" , sans-serif;
    color: blue;
    font-size: 25px;
    transition: all .5s ease;
}
#main label:hover{
    color: coral;
    font-size: 35px;
}
input{
    margin-left: 40px ;
    border: none;
    outline: none;
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    color: white;
    background: black;
    font-weight: 600;
    font-family: "Poppins" , sans-serif;
    font-size: 15px;
    transition: all .5s ease;
}
input:focus{
    color: white;
    background: black;
}
input:hover{
    color: crimson;
    font-size: 20px;
}
#main button{
    width: 200px;
    position: relative;
    left: 140px;
    border: 3px solid crimson;
    color: crimson;
    font-family: "Ubuntu" , sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition: all .6s ease;
    background: white;
}
#main button:hover{
    color: white;
    border: 3px solid white;
    background-color: crimson;
    width: 300px;
    height: 50px;
}

#name.bordergreen{
    border: 5px solid rgba(147, 250, 165 ,.8) ;
}

#name.borderred{
    border: 5px solid red;
}

#email.bordergreen{
    border: 5px solid rgba(147, 250, 165 ,.8) ;
}

#email.borderred{
    border: 5px solid red;
}

.password.borderred{
    border: 5px solid red;
}

.password.bordergreen{
    border: 5px solid rgba(147, 250, 165 ,.8) ;
}

#submit_heading{
    text-align: center;
    color: white;
    position: relative;
    bottom: 60px;
    transition: all .3s ease;
    font-family: "Poppins" , sans-serif;
    font-weight: 700;
}

#submit_heading:hover{
    color: lightcoral;
}
#second_div{
    position: relative;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    font-weight: 500;
    font-family: "Ubuntu" , sans-serif;
}
#second_div:hover{
    color: coral;
}
#resubmit{
    border-radius: 10px;
    border-color: black;
    background-color: white;
    color: crimson;
    width: 180px;
    height: 40px;
    position: relative;
    bottom: 22px;
    transition: all .4s ease;
    font-weight: 700;
    font-size: 17px;
    font-family: "Poppins" , sans-serif;
    border: 1px solid crimson;
}

#resubmit:hover{
    color: white;
    background: crimson;
    border: 1px solid white;
}

#second_screen{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0 , 0 , 0 , .8);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    flex-direction: column;

}

#second_screen.show{
    display: flex;
}
